.coloradmi {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Sulphur Point', sans-serif;
    font-family: 'Unbounded', sans-serif;
    background-color: rgb(194, 172, 206); 
    max-width: 980px; 
    margin:0 auto;
}